<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  
  <%- messages() %>
  
  <% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
  <%  }) %>
  </ul>
  <% } %>

<section id="manage-inventory">
    <h2>Manage Temples</h2>
    <p>Please select a classification to manage inventory items</p>
    <%- classificationSelect %>
    <table id="templeDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
</section>

<script src="../../js/temple.js"></script>