<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="WDD330-Final Project">
    <meta name="author" content="Matias Munives">
    <title>WDD330-Final Project | Home</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="/js/main.js" type="module"></script>
  </head>

  <body>
    <header class="divider" id="main-header"></header>
    <main class="divider">

    </main>

    <footer id="main-footer"></footer>
  </body>
</html>