<%- messages() %>

<div class="banner">
    <img
      src="/images/templo.webp"
      alt="image of a Cordoba Argentina Temple"
    />
  </div>
  <section class="home-container">
    <h2>Property and Inventory Management Tools</h2>
    <p>This page offers efficient tools for managing building's properties and inventory.</p>
    <ul>
        <li><strong>Property Management:</strong> Organize and oversee all units in one place.</li>
        <li><strong>Inventory Management:</strong> Track all assets and supplies with ease.</li>
        <li><strong>Reports & Analysis:</strong> Generate detailed reports for informed decision-making.</li>
        <li><strong>Alerts & Reminders:</strong> Get automatic notifications for important tasks.</li>
    </ul>
    <p>Simplify operations with these comprehensive management tools.</p>
  </section>
  <div class="container">
    <div id="temples"> 
      <a href="/temples/index.html">
        <img
          src="/images/temple.webp"
          alt="Temple buildings"
        />
        <p>Temples</p>
      </a>
    </div>
    <div id="properties"> 
      <a href="properties/index.html">
        <img
          src="/images/property.webp"
          alt="Temple properties"
        />
        <p>Properties</p>
      </a>
    </div>
    <div id="rooms"> 
      <a href="rooms/index.html">
        <img
          src="/images/area.webp"
          alt="Properties Rooms"
        />
        <p>Rooms</p>
      </a>
    </div>
    <div id="items">
      <a href="inventory/index.html">
        <img
          src="/images/items.webp"
          alt="Inventory Items"
        />
        <p>Inventory Items</p>
      </a>
  </div>